

.ArtMoodBoard-post {
    position: absolute;
}

.wp-block-audio, .wp-block-video {
    margin: 0px;
    padding: 0px;
}


.root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

body, html, h1, .ArtMoodBoard-post p {
    width: 100%;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    top: 0px;
    left: 0px;
}


.ArtMoodBoard-post-box {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.site-header {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: none;
}